<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
    <div>
        <p>Copyright © {{ "now" | date: "%Y" }} Oxur Lisp Project</p>
        <p>Built with <a href="https://cobalt-org.github.io/" class="link">Cobalt</a></p>
    </div>
</footer>
