<header class="navbar bg-base-100 shadow-lg">
    <div class="flex-1">
        <a href="/" class="btn btn-ghost text-xl">{{ site.title }}</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li><a href="/">Home</a></li>
            <li><a href="/docs">Documentation</a></li>
            <li><a href="/download">Download</a></li>
            <li><a href="https://github.com/oxur/oxur">GitHub</a></li>
        </ul>
    </div>
</header>
