<!DOCTYPE html>
<html lang="en" class="group/html">
<head>
{% include "head.liquid" %}
</head>
<body>
{% include "topbar.liquid" %}

<main class="container py-8 lg:py-16">
{{ page.content }}
</main>

{% include "footer.liquid" %}
{% include "theme-toggle.liquid" %}

<script src="/assets/js/main.js"></script>
</body>
</html>
